* {
  margin: 0;
  padding: 0;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
#Apple .header {
  position: relative;
}
#Apple .header .header-title {
  height: 44px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}
#Apple .header .header-title .title-list {
  max-width: 980px;
  list-style: none;
  padding: 0 22px;
  margin: 0 auto;
  text-align: justify;
  height: 44px;
}
#Apple .header .header-title .title-list:after {
  content: "";
  display: inline-block;
  width: 100%;
}
#Apple .header .header-title .title-list li {
  vertical-align: middle;
  display: inline-block;
  height: 44px;
  list-style: none;
}
#Apple .header .header-title .title-list li span {
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  height: 100%;
  display: block;
  padding: 0 10px;
  cursor: pointer;
}
#Apple .header .header-title .title-list li span:hover {
  opacity: .65;
}
#Apple .header .header-title .title-list li .item-apple {
  width: 20px;
  background: url("https://www.apple.com/ac/globalnav/3/zh_CN/images/globalnav/apple/image_large.svg") no-repeat center;
}
#Apple .header .header-title .title-list li .item-mac {
  width: 2em;
  background: url("https://www.apple.com/ac/globalnav/3/zh_CN/images/globalnav/links/mac/image_large.svg") no-repeat center;
}
#Apple .header .header-title .title-list li .item-ipad {
  width: 1.92857em;
  background: url("https://www.apple.com/ac/globalnav/3/zh_CN/images/globalnav/links/ipad/image_large.svg") no-repeat center;
}
#Apple .header .header-title .title-list li .item-iphone {
  width: 3.14286em;
  background: url("https://www.apple.com/ac/globalnav/3/zh_CN/images/globalnav/links/iphone/image_large.svg") no-repeat center;
}
#Apple .header .header-title .title-list li .item-watch {
  width: 2.85714em;
  background: url("https://www.apple.com/ac/globalnav/3/zh_CN/images/globalnav/links/watch/image_large.svg") no-repeat center;
}
#Apple .header .header-title .title-list li .item-music {
  width: 2.64286em;
  background: url("https://www.apple.com/ac/globalnav/3/zh_CN/images/globalnav/links/music/image_large.svg") no-repeat center;
}
#Apple .header .header-title .title-list li .item-jszc {
  width: 3.28571em;
  background: url("https://www.apple.com/ac/globalnav/3/zh_CN/images/globalnav/links/support/image_large.svg") no-repeat center;
}
#Apple .header .header-title .title-list li .item-search {
  width: 16px;
  background: url("https://www.apple.com/ac/globalnav/3/zh_CN/images/globalnav/search/image_large.svg") no-repeat center;
}
#Apple .header .header-title .title-list li .item-bag {
  width: 14px;
  background: url("https://www.apple.com/ac/globalnav/3/zh_CN/images/globalnav/bag/image_large.svg") no-repeat center;
}
#Apple .header .goTop {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  z-index: -1;
  left: 0;
}
#Apple .header .header-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#Apple .header .header-carousel .main {
  height: calc(24vh);
  max-height: 100%;
  min-height: 540px;
}
#Apple .header .header-carousel .main .main-content {
  height: 100%;
  position: relative;
}
#Apple .header .header-carousel .main .main-content .gallery-slide-wrapper {
  transform: translate3d(0px, 0px, 0px);
  height: 100%;
  transition: all 0.7s ease-in-out;
}
#Apple .header .header-carousel .main .main-content .gallery-slide-wrapper .item {
  transition: all 0.7s ease-in-out;
  display: block;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #333;
  will-change: transform;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
#Apple .header .header-carousel .main .main-content .gallery-slide-wrapper .item .item-bgImg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 110%;
  transition: all 0.7s ease-in-out;
}
#Apple .header .header-carousel .main .main-content .gallery-slide-wrapper .item .bgImg1 {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url(https://www.apple.com/cn/home/images/gallery/iphone_alt_large.jpg);
}
#Apple .header .header-carousel .main .main-content .gallery-slide-wrapper .item .bgImg2 {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #f3f3f3;
  background-image: url(https://www.apple.com/cn/home/images/gallery/watch_alt_large.jpg);
  top: -5%;
}
#Apple .header .header-carousel .main .main-content .gallery-slide-wrapper .item .bgImg3 {
  transform: translate3d(1367.1px, 0px, 0px) scale3d(0.9, 0.9, 1);
  background-repeat: no-repeat;
  background-image: url(https://www.apple.com/cn/home/images/gallery/macbookpro_xlarge.jpg);
  width: auto;
  height: auto;
  top: 33%;
  bottom: -10%;
  left: 0;
  right: 0;
  background-size: auto 100%;
  background-position: top center;
}
#Apple .header .header-carousel .main .main-content .gallery-slide-wrapper .item .item-content {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: auto;
  width: auto;
  z-index: 1000;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
#Apple .header .header-carousel .main .main-content .gallery-slide-wrapper .item-center {
  transform: translate3d(0px, 0px, 0px);
  background: #0a0a0a;
  left: 0;
  top: 0;
  z-index: 0;
}
#Apple .header .header-carousel .main .main-content .gallery-slide-wrapper .item-right {
  transform: translate3d(1519px, 0px, 0px);
}
#Apple .header .header-carousel .main .main-content .gallery-slide-wrapper .item-left {
  transform: translate3d(-1519px, 0px, 0px);
}
/*# sourceMappingURL=index.css.map */